NEXT_PUBLIC_SUPABASE_URL=https://diglazvttgumlqllurhq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpZ2xhenZ0dGd1bWxxbGx1cmhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MDQxMTMsImV4cCI6MjA4OTA4MDExM30.uCbM7g6Fi6BsNG9vAh5RZI9V3_l-2dv12nqoRFpR-2g
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpZ2xhenZ0dGd1bWxxbGx1cmhxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUwNDExMywiZXhwIjoyMDg5MDgwMTEzfQ.96HcozoQEmT90HaA1ZJMjv2j9WhDD5MjP3Hhi_z-tiM
OPENAI_API_KEY=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
OPENAI_REALTIME_MODEL=gpt-realtime
OPENAI_REALTIME_VOICE=alloy


RESEND_API_KEY=re_XDea5R4d_92RtFHcFhK15ae4iqJXTEgoH


SIMLI_API_KEY=jvy0y9d0qy9f6lr9in77nl
SIMLI_FACE_ID=f7ba9951-7020-48b1-8cef-090ae8bde391
NEXT_PUBLIC_SIMLI_FACE_ID=f7ba9951-7020-48b1-8cef-090ae8bde391


LIVEKIT_URL=wss://vertex-9dqa6oyt.livekit.cloud
NEXT_PUBLIC_LIVEKIT_URL=wss://vertex-9dqa6oyt.livekit.cloud
LIVEKIT_API_KEY=APIEJfnr6jQoary
LIVEKIT_API_SECRET=MFvhtTh4YSVqekfiZu4XeKKrZEKeLtcg4m30pYu3XqdA
LIVEKIT_AGENT_NAME=vertex-tina-tutor
NEXT_PUBLIC_TUTOR_AVATAR_NAME=Pierce


NEXT_PUBLIC_APP_URL=http://localhost:3000
ELEVENLABS_API_KEY=2dcfdb19797bb2216c4f79472dc2909c7c3c8175f4563162240b74123d0d5f3c
ELEVENLABS_VOICE_ID=THQu2xWI6kFJhO0poqNd1